# Application
APP_ENV=development

# PostgreSQL
POSTGRES_VERSION=18-alpine
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=infinitune
POSTGRES_PASSWORD=change_me
POSTGRES_DB=postgres

# Redis
REDIS_VERSION=8-alpine
REDIS_HOST=redis
REDIS_PORT=6379

# Kafka
KAFKA_BROKERS=kafka:9092

# MinIO
MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=change_me
MINIO_SECRET_KEY=change_me

# Kong
KONG_VERSION=3.9.3
KONG_PROXY_PORT=8000
KONG_ADMIN_PORT=8001
